[sources.service]
  type = "tcp"
  address = "0.0.0.0:1337"

[sinks.clickhouse]
  type = "http"
  inputs = ["service"]
  encoding = "ndjson"
  uri = "http://clickhouse-server:8123/?query=INSERT%20INTO%20service_log%20FORMAT%20JSONEachRow"

[sinks.console]
  type = "console"
  inputs = ["service"]